
<form id="formulario" action="index.html" class="form-box">
  <div class="row">
      <div class="col-12">
             <script>
              date = new Date().toLocaleDateString();
              document.write(date);
             </script>
             <h2>Saldo actual: <span id="saldo">{{saldo}}</span></h2>
                
               <div>
                  <label class="form-label">¿Cuánto desea depositar?:</label>
                  <input type="number" class="form-control" name="valor1" [(ngModel)]="inputValue">
                  <button id="boton"  value= "Enviar"  type="button" (click)="deposito()">Ingresar Dinero</button>
              </div>
                  </div>
                  </div>
                </form>    