<div class="titulos"><h1>COMPRA-VENTA</h1></div>
<br>
<br>
<br>
<div class="margen">
<form action="/action_page.php">
  <label for="sel1" class="form-label"><p>TIPO OPERACION</p></label>
  <select class="form-select" id="sel1" name="sellist1">
    <option>---</option>
    <option>COMPRA</option>
    <option>VENTA</option>
  </select>
  <label for="sel1" class="form-label"><p>MONEDAS</p></label>
  <select class="form-select" id="sel1" name="sellist1">
    <option>---</option>
    <option>BITCOIN</option>
    <option>ETHEREUM</option>
    <option>TETHER</option>
  </select>
  <label for="browser" class="form-label"><p>MONTO OPERACION</p></label>
  <input class="form-control" list="browsers" name="browser" id="browser">
  <br>

  <button type="submit" class="btn btn-primary mt-3">ACEPTAR</button>
</form>
</div>
