/*
/* Roboto Font
/*
/*********/

@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700,900&display=swap");

/*
/* Vars
/*
/*********/

:root {
  --main-color-CBA_DarkBlue: #073256;
  --main-color-CBA_Blue: #00519c;
  --main-color-CBA_lightBlue: #53aae0;
  --main-color-CBA_Green: #5cb85c;
  --main-color-CBA_Orage: #f0ad4e;
  --main-color-CBA_DarkOrange: #d38037;
  --main-color-CBA_Grey1: #29343e;
  --main-color-CBA_Grey2: #5c6f82;
  --main-color-CBA_Grey3: #899dac;
  --main-color-CBA_Grey4: #dbe5e9;
  --main-color-CBA_Grey5: #edf0f5;
  --main-color-CBA_Grey6: #f7fbfd;
  --main-color-CBA_Error: #d9534f;
  --main-color-CBA_Info: #1c7cd5;
  --main-color-CBA_Correct: #5cb85c;
  --main-color-CBA_Warning: #ee9800;
  --main-font-roboto: "Roboto", sans-serif;
}

/*
/* Color
/*
/*********/
.CBA_DarkBlue {
  color: var(--main-color-CBA_DarkBlue);
}
.CBA_Blue {
  color: var(--main-color-CBA_Blue);
}
.CBA_lightBlue {
  color: var(--main-color-CBA_lightBlue);
}
.CBA_Green {
  color: var(--main-color-CBA_Green);
}
.CBA_Orange {
  color: var(--main-color-CBA_Orage);
}
.CBA_DarkOrange {
  color: var(--main-color-CBA_DarkOrange);
}
.CBA_Grey1 {
  color: var(--main-color-CBA_Grey1);
}
.CBA_Grey2 {
  color: var(--main-color-CBA_Grey2);
}
.CBA_Grey3 {
  color: var(--main-color-CBA_Grey3);
}
.CBA_Grey4 {
  color: var(--main-color-CBA_Grey4);
}
.CBA_Grey5 {
  color: var(--main-color-CBA_Grey5);
}
.CBA_Grey6 {
  color: var(--main-color-CBA_Grey6);
}
.CBA_Error {
  color: var(--main-color-CBA_Error);
}
.CBA_Info {
  color: var(--main-color-CBA_Info);
}
.CBA_Correct {
  color: var(--main-color-CBA_Correct);
}
.CBA_Warning {
  color: var(--main-color-CBA_Warning);
}

/*
/* Shadow
/*
/*********/

.Shadow-1 {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
}

.Shadow-2 {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
}

.Shadow-3 {
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.16);
}

.Shadow-4 {
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.16);
}

/*
/* Buttons
/*
/*********/

button.Gob {
  box-sizing: border-box;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: 0;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  min-width: 64px;
  line-height: 36px;
  padding: 1px 30px;
  overflow: visible;
  border-radius: 0px;
  transform: translate3d(0, 0, 0);
  transition: background 0.4s cubic-bezier(0.25, 0.8, 0.25, 1),
    box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
}

button.Gob.Border_Rounded {
  border-radius: 25px;
}

button.Gob.Border_Round {
  border-radius: 8px;
}

button.Gob.CBA_DarkBlue {
  background-color: var(--main-color-CBA_DarkBlue);
}
button.Gob.CBA_Blue {
  background-color: var(--main-color-CBA_Blue);
}
button.Gob.CBA_lightBlue {
  background-color: var(--main-color-CBA_lightBlue);
}
button.Gob.CBA_Green {
  background-color: var(--main-color-CBA_Green);
}
button.Gob.CBA_Orange {
  background-color: var(--main-color-CBA_Orage);
}
button.Gob.CBA_DarkOrange {
  background-color: var(--main-color-CBA_DarkOrange);
}
button.Gob.CBA_Grey1 {
  background-color: var(--main-color-CBA_Grey1);
}
button.Gob.CBA_Grey2 {
  background-color: var(--main-color-CBA_Grey2);
}
button.Gob.CBA_Grey3 {
  background-color: var(--main-color-CBA_Grey3);
}
button.Gob.CBA_Grey4 {
  background-color: var(--main-color-CBA_Grey4);
}
button.Gob.CBA_Grey5 {
  background-color: var(--main-color-CBA_Grey5);
}
button.Gob.CBA_Grey6 {
  background-color: var(--main-color-CBA_Grey6);
}
button.Gob.CBA_Error {
  background-color: var(--main-color-CBA_Error);
}
button.Gob.CBA_Info {
  background-color: var(--main-color-CBA_Info);
}
button.Gob.CBA_Correct {
  background-color: var(--main-color-CBA_Correct);
}
button.Gob.CBA_Warning {
  background-color: var(--main-color-CBA_Warning);
}

button.Gob.White {
  color: white;
}

button.Gob.Black {
  color: black;
}

/*
/* Tipography
/*
/*********/

.Headline {
  font-family: var(--main-font-roboto);
  font-size: 25px;
  line-height: 28px;
  font-weight: 900;
}

.Title {
  font-family: var(--main-font-roboto);
  font-size: 20px;
  line-height: 24px;
  font-weight: 900;
}

.FormTitle {
  font-family: var(--main-font-roboto);
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
}

.Text {
  font-family: var(--main-font-roboto);
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.Descriptions {
  font-family: var(--main-font-roboto);
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
}

.DescriptionsCard {
  font-family: var(--main-font-roboto);
  font-size: 14px;
  line-height: 16px;
  font-weight: 300;
}

.List {
  font-family: var(--main-font-roboto);
  font-size: 12px;
  line-height: 14px;
  font-weight: 300;
}

.Info {
  font-family: var(--main-font-roboto);
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
}

/*
/* Fonts
/*
/*********/

@font-face {
  font-family: "cbaDesignsystem";
  src: url("../fonts/cba-icons.eot?qeij56");
  src: url("../fonts/cba-icons.eot?qeij56#iefix") format("embedded-opentype"),
    url("../fonts/cba-icons.ttf?qeij56") format("truetype"),
    url("../fonts/cba-icons.woff?qeij56") format("woff"),
    url("../fonts/cba-icons.svg?qeij56#cba-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="iconcba"],
[class*=" iconcba"] {
  font-family: "cbaDesignsystem" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="iconcba"].s24 {
  font-size: 24px;
}
[class^="iconcba"].s32 {
  font-size: 32px;
}
[class^="iconcba"].s40 {
  font-size: 40px;
}
[class^="iconcba"].s48 {
  font-size: 48px;
}
[class^="iconcba"].s56 {
  font-size: 56px;
}

.icon-cba-bug-search:before {
  content: "\e900";
}
.icon-cba-chip:before {
  content: "\e901";
}
.icon-cba-chip-clock:before {
  content: "\e902";
}
.icon-cba-code-tag:before {
  content: "\e903";
}
.icon-cba-curly-braces:before {
  content: "\e904";
}
.icon-cba-Grupo-86:before {
  content: "\e905";
}
.icon-cba-Grupo-87:before {
  content: "\e906";
}
.icon-cba-html5:before {
  content: "\e907";
}
.icon-cba-link-1:before {
  content: "\e908";
}
.icon-cba-link-2:before {
  content: "\e909";
}
.icon-cba-link-add:before {
  content: "\e90a";
}
.icon-cba-link-break:before {
  content: "\e90b";
}
.icon-cba-link-remove:before {
  content: "\e90c";
}
.icon-cba-shield-1:before {
  content: "\e90d";
}
.icon-cba-shield-check:before {
  content: "\e90e";
}
.icon-cba-shield-close:before {
  content: "\e90f";
}
.icon-cba-shield-information:before {
  content: "\e910";
}
.icon-cba-shield-lock:before {
  content: "\e911";
}
.icon-cba-shield-question:before {
  content: "\e912";
}
.icon-cba-shield-star:before {
  content: "\e913";
}
.icon-cba-shield-update:before {
  content: "\e914";
}
.icon-cba-window-1:before {
  content: "\e915";
}
.icon-cba-window-block:before {
  content: "\e916";
}
.icon-cba-window-bookmark:before {
  content: "\e917";
}
.icon-cba-window-clock:before {
  content: "\e918";
}
.icon-cba-window-code:before {
  content: "\e919";
}
.icon-cba-window-cursor:before {
  content: "\e91a";
}
.icon-cba-window-edit:before {
  content: "\e91b";
}
.icon-cba-window-error:before {
  content: "\e91c";
}
.icon-cba-window-profile:before {
  content: "\e91d";
}
.icon-cba-window-search:before {
  content: "\e91e";
}
.icon-cba-window-settings:before {
  content: "\e91f";
}
.icon-cba-window-terminal:before {
  content: "\e920";
}
.icon-cba-window-update:before {
  content: "\e921";
}
.icon-cba-window-user:before {
  content: "\e922";
}
.icon-cba-binary:before {
  content: "\e923";
}
.icon-cba-bug:before {
  content: "\e924";
}
.icon-cba-bug-check:before {
  content: "\e925";
}
.icon-cba-auto-deportivo:before {
  content: "\e926";
}
.icon-cba-auto-guardado:before {
  content: "\e927";
}
.icon-cba-avion-aterrizando:before {
  content: "\e928";
}
.icon-cba-avion-despegando:before {
  content: "\e929";
}
.icon-cba-barquito:before {
  content: "\e92a";
}
.icon-cba-barquito-2:before {
  content: "\e92b";
}
.icon-cba-bicicleta:before {
  content: "\e92c";
}
.icon-cba-bicicleta-2:before {
  content: "\e92d";
}
.icon-cba-buque:before {
  content: "\e92e";
}
.icon-cba-camion-carga:before {
  content: "\e92f";
}
.icon-cba-camioneta:before {
  content: "\e930";
}
.icon-cba-camioneta-costado:before {
  content: "\e931";
}
.icon-cba-carga:before {
  content: "\e932";
}
.icon-cba-colectivo:before {
  content: "\e933";
}
.icon-cba-helicoptero:before {
  content: "\e934";
}
.icon-cba-jaula:before {
  content: "\e935";
}
.icon-cba-monopatin:before {
  content: "\e936";
}
.icon-cba-motocicleta:before {
  content: "\e937";
}
.icon-cba-motocicleta-2:before {
  content: "\e938";
}
.icon-cba-mula:before {
  content: "\e939";
}
.icon-cba-taxi:before {
  content: "\e93a";
}
.icon-cba-taxi-2:before {
  content: "\e93b";
}
.icon-cba-teleferico:before {
  content: "\e93c";
}
.icon-cba-tractor:before {
  content: "\e93d";
}
.icon-cba-tren-1:before {
  content: "\e93e";
}
.icon-cba-tren-2:before {
  content: "\e93f";
}
.icon-cba-tren-3:before {
  content: "\e940";
}
.icon-cba-van:before {
  content: "\e941";
}
.icon-cba-auto:before {
  content: "\e942";
}
.icon-cba-auto-costado:before {
  content: "\e943";
}
.icon-cba-brujula-2:before {
  content: "\e944";
}
.icon-cba-brujula-3:before {
  content: "\e945";
}
.icon-cba-calendario-1:before {
  content: "\e946";
}
.icon-cba-calendario-2:before {
  content: "\e947";
}
.icon-cba-calendario-3:before {
  content: "\e948";
}
.icon-cba-calendario-4:before {
  content: "\e949";
}
.icon-cba-calendario-5:before {
  content: "\e94a";
}
.icon-cba-calendario-6:before {
  content: "\e94b";
}
.icon-cba-infinito-1:before {
  content: "\e94c";
}
.icon-cba-infinito-2:before {
  content: "\e94d";
}
.icon-cba-localizacion-1:before {
  content: "\e94e";
}
.icon-cba-localizacion-2:before {
  content: "\e94f";
}
.icon-cba-map-plan-1:before {
  content: "\e950";
}
.icon-cba-map-plan-2:before {
  content: "\e951";
}
.icon-cba-map-plan-3:before {
  content: "\e952";
}
.icon-cba-map-plan-4:before {
  content: "\e953";
}
.icon-cba-map-plan-5:before {
  content: "\e954";
}
.icon-cba-map-plan-6:before {
  content: "\e955";
}
.icon-cba-position-1:before {
  content: "\e956";
}
.icon-cba-position-2:before {
  content: "\e957";
}
.icon-cba-position-3:before {
  content: "\e958";
}
.icon-cba-position-4:before {
  content: "\e959";
}
.icon-cba-position-5:before {
  content: "\e95a";
}
.icon-cba-position-6:before {
  content: "\e95b";
}
.icon-cba-position-7:before {
  content: "\e95c";
}
.icon-cba-position-8:before {
  content: "\e95d";
}
.icon-cba-position-9:before {
  content: "\e95e";
}
.icon-cba-position-10:before {
  content: "\e95f";
}
.icon-cba-position-11:before {
  content: "\e960";
}
.icon-cba-position-12:before {
  content: "\e961";
}
.icon-cba-position-13:before {
  content: "\e962";
}
.icon-cba-position-14:before {
  content: "\e963";
}
.icon-cba-position-15:before {
  content: "\e964";
}
.icon-cba-position-16:before {
  content: "\e965";
}
.icon-cba-position-17:before {
  content: "\e966";
}
.icon-cba-reloj-1:before {
  content: "\e967";
}
.icon-cba-reloj-2:before {
  content: "\e968";
}
.icon-cba-reloj-3:before {
  content: "\e969";
}
.icon-cba-reloj-4:before {
  content: "\e96a";
}
.icon-cba-reloj-5:before {
  content: "\e96b";
}
.icon-cba-reloj-6:before {
  content: "\e96c";
}
.icon-cba-reloj-7:before {
  content: "\e96d";
}
.icon-cba-reloj-8:before {
  content: "\e96e";
}
.icon-cba-reloj-9:before {
  content: "\e96f";
}
.icon-cba-reloj-10:before {
  content: "\e970";
}
.icon-cba-reloj-11:before {
  content: "\e971";
}
.icon-cba-reloj-12:before {
  content: "\e972";
}
.icon-cba-reloj-13:before {
  content: "\e973";
}
.icon-cba-reloj-14:before {
  content: "\e974";
}
.icon-cba-senal-1:before {
  content: "\e975";
}
.icon-cba-senal-2:before {
  content: "\e976";
}
.icon-cba-senal-3:before {
  content: "\e977";
}
.icon-cba-brujula-1:before {
  content: "\e978";
}
.icon-cba-airplane-1:before {
  content: "\e979";
}
.icon-cba-alert-1:before {
  content: "\e97a";
}
.icon-cba-alert-2:before {
  content: "\e97b";
}
.icon-cba-alert-3:before {
  content: "\e97c";
}
.icon-cba-arrow-max-1:before {
  content: "\e97d";
}
.icon-cba-arrow-max-2:before {
  content: "\e97e";
}
.icon-cba-arrow-min:before {
  content: "\e97f";
}
.icon-cba-arrow-move:before {
  content: "\e980";
}
.icon-cba-bell:before {
  content: "\e981";
}
.icon-cba-bell-slash:before {
  content: "\e982";
}
.icon-cba-cancel-1:before {
  content: "\e983";
}
.icon-cba-check-1:before {
  content: "\e984";
}
.icon-cba-check-2:before {
  content: "\e985";
}
.icon-cba-check-3:before {
  content: "\e986";
}
.icon-cba-check-4:before {
  content: "\e987";
}
.icon-cba-check-5:before {
  content: "\e988";
}
.icon-cba-check-6:before {
  content: "\e989";
}
.icon-cba-check-7:before {
  content: "\e98a";
}
.icon-cba-clip-1:before {
  content: "\e98b";
}
.icon-cba-close-1:before {
  content: "\e98c";
}
.icon-cba-close-2:before {
  content: "\e98d";
}
.icon-cba-close-3:before {
  content: "\e98e";
}
.icon-cba-cursor:before {
  content: "\e98f";
}
.icon-cba-door-exit:before {
  content: "\e990";
}
.icon-cba-door-in:before {
  content: "\e991";
}
.icon-cba-download:before {
  content: "\e992";
}
.icon-cba-edit:before {
  content: "\e993";
}
.icon-cba-finger-print:before {
  content: "\e994";
}
.icon-cba-hamburger:before {
  content: "\e995";
}
.icon-cba-hamburger-small:before {
  content: "\e996";
}
.icon-cba-hand:before {
  content: "\e997";
}
.icon-cba-hand-finger:before {
  content: "\e998";
}
.icon-cba-hand-finger-contract:before {
  content: "\e999";
}
.icon-cba-hand-finger-expand:before {
  content: "\e99a";
}
.icon-cba-hand-finger-hold:before {
  content: "\e99b";
}
.icon-cba-hand-finger-hold-move:before {
  content: "\e99c";
}
.icon-cba-hand-finger-move-down:before {
  content: "\e99d";
}
.icon-cba-hand-finger-move-left:before {
  content: "\e99e";
}
.icon-cba-hand-finger-move-right:before {
  content: "\e99f";
}
.icon-cba-hand-finger-move-up:before {
  content: "\e9a0";
}
.icon-cba-hand-finger-press:before {
  content: "\e9a1";
}
.icon-cba-hand-finger-press-hold:before {
  content: "\e9a2";
}
.icon-cba-hand-finger-tap:before {
  content: "\e9a3";
}
.icon-cba-information-1:before {
  content: "\e9a4";
}
.icon-cba-key:before {
  content: "\e9a5";
}
.icon-cba-lifeguard:before {
  content: "\e9a6";
}
.icon-cba-lock-1:before {
  content: "\e9a7";
}
.icon-cba-lock-2:before {
  content: "\e9a8";
}
.icon-cba-magic:before {
  content: "\e9a9";
}
.icon-cba-more-horizontal:before {
  content: "\e9aa";
}
.icon-cba-more-vertical:before {
  content: "\e9ab";
}
.icon-cba-no-see:before {
  content: "\e9ac";
}
.icon-cba-phone-vibration:before {
  content: "\e9ad";
}
.icon-cba-pin:before {
  content: "\e9ae";
}
.icon-cba-plus-1:before {
  content: "\e9af";
}
.icon-cba-plus-2:before {
  content: "\e9b0";
}
.icon-cba-plus-3:before {
  content: "\e9b1";
}
.icon-cba-prohibited-1:before {
  content: "\e9b2";
}
.icon-cba-question-1:before {
  content: "\e9b3";
}
.icon-cba-redo-1:before {
  content: "\e9b4";
}
.icon-cba-rest-1:before {
  content: "\e9b5";
}
.icon-cba-rest-2:before {
  content: "\e9b6";
}
.icon-cba-search:before {
  content: "\e9b7";
}
.icon-cba-search-minus:before {
  content: "\e9b8";
}
.icon-cba-search-plus:before {
  content: "\e9b9";
}
.icon-cba-see:before {
  content: "\e9ba";
}
.icon-cba-settings-1:before {
  content: "\e9bb";
}
.icon-cba-share:before {
  content: "\e9bc";
}
.icon-cba-share-2:before {
  content: "\e9bd";
}
.icon-cba-start-1:before {
  content: "\e9be";
}
.icon-cba-tag1:before {
  content: "\e9bf";
}
.icon-cba-tag-close:before {
  content: "\e9c0";
}
.icon-cba-thunder:before {
  content: "\e9c1";
}
.icon-cba-trash:before {
  content: "\e9c2";
}
.icon-cba-trash-recycle:before {
  content: "\e9c3";
}
.icon-cba-undo-1:before {
  content: "\e9c4";
}
.icon-cba-unlock-1:before {
  content: "\e9c5";
}
.icon-cba-upload:before {
  content: "\e9c6";
}
.icon-cba-arrow-down:before {
  content: "\e9c7";
}
.icon-cba-arrow-fat-down:before {
  content: "\e9c8";
}
.icon-cba-arrow-fat-left:before {
  content: "\e9c9";
}
.icon-cba-arrow-fat-right:before {
  content: "\e9ca";
}
.icon-cba-arrow-fat-up:before {
  content: "\e9cb";
}
.icon-cba-arrow-left:before {
  content: "\e9cc";
}
.icon-cba-arrow-right:before {
  content: "\e9cd";
}
.icon-cba-arrow-up:before {
  content: "\e9ce";
}
.icon-cba-chevron-down:before {
  content: "\e9cf";
}
.icon-cba-chevron-left:before {
  content: "\e9d0";
}
.icon-cba-chevron-right:before {
  content: "\e9d1";
}
.icon-cba-chevron-up:before {
  content: "\e9d2";
}
.icon-cba-circle-arrow-down:before {
  content: "\e9d3";
}
.icon-cba-circle-arrow-left:before {
  content: "\e9d4";
}
.icon-cba-circle-arrow-right:before {
  content: "\e9d5";
}
.icon-cba-circle-arrow-up:before {
  content: "\e9d6";
}
.icon-cba-circle-chevron-down:before {
  content: "\e9d7";
}
.icon-cba-circle-chevron-left:before {
  content: "\e9d8";
}
.icon-cba-circle-chevron-right:before {
  content: "\e9d9";
}
.icon-cba-circle-chevron-up:before {
  content: "\e9da";
}
.icon-cba-square-arrow-down:before {
  content: "\e9db";
}
.icon-cba-square-arrow-left:before {
  content: "\e9dc";
}
.icon-cba-square-arrow-right:before {
  content: "\e9dd";
}
.icon-cba-square-arrow-up:before {
  content: "\e9de";
}
.icon-cba-bag-1:before {
  content: "\e9df";
}
.icon-cba-bag-cancel:before {
  content: "\e9e0";
}
.icon-cba-bag-check:before {
  content: "\e9e1";
}
.icon-cba-bag-heart:before {
  content: "\e9e2";
}
.icon-cba-bag-less:before {
  content: "\e9e3";
}
.icon-cba-bag-more:before {
  content: "\e9e4";
}
.icon-cba-barcode:before {
  content: "\e9e5";
}
.icon-cba-box-1:before {
  content: "\e9e6";
}
.icon-cba-box-2:before {
  content: "\e9e7";
}
.icon-cba-cart-box:before {
  content: "\e9e8";
}
.icon-cba-cart-boxes:before {
  content: "\e9e9";
}
.icon-cba-cart-empty:before {
  content: "\e9ea";
}
.icon-cba-cuopon:before {
  content: "\e9eb";
}
.icon-cba-discount-1:before {
  content: "\e9ec";
}
.icon-cba-discount-2:before {
  content: "\e9ed";
}
.icon-cba-handbag:before {
  content: "\e9ee";
}
.icon-cba-kiosk:before {
  content: "\e9ef";
}
.icon-cba-kiosk-position:before {
  content: "\e9f0";
}
.icon-cba-paper-heart:before {
  content: "\e9f1";
}
.icon-cba-qr-code:before {
  content: "\e9f2";
}
.icon-cba-sign-open:before {
  content: "\e9f3";
}
.icon-cba-tag:before {
  content: "\e9f4";
}
.icon-cba-tag-dolar:before {
  content: "\e9f5";
}
.icon-cba-tags:before {
  content: "\e9f6";
}
.icon-cba-truck-1:before {
  content: "\e9f7";
}
.icon-cba-truck-2:before {
  content: "\e9f8";
}
.icon-cba-truck-clock:before {
  content: "\e9f9";
}
.icon-cba-wallet-1:before {
  content: "\e9fa";
}
.icon-cba-wallet-2:before {
  content: "\e9fb";
}
.icon-cba-wallet-3:before {
  content: "\e9fc";
}
.icon-cba-wallet-cancel:before {
  content: "\e9fd";
}
.icon-cba-wallet-check:before {
  content: "\e9fe";
}
.icon-cba-wallet-information:before {
  content: "\e9ff";
}
.icon-cba-wallet-less:before {
  content: "\ea00";
}
.icon-cba-wallet-lock:before {
  content: "\ea01";
}
.icon-cba-wallet-more:before {
  content: "\ea02";
}
.icon-cba-wallet-prohibited:before {
  content: "\ea03";
}
.icon-cba-airplane-send:before {
  content: "\ea04";
}
.icon-cba-cellphone-in:before {
  content: "\ea05";
}
.icon-cba-cellphone-message:before {
  content: "\ea06";
}
.icon-cba-cellphone-out:before {
  content: "\ea07";
}
.icon-cba-cellphone-sending:before {
  content: "\ea08";
}
.icon-cba-chat:before {
  content: "\ea09";
}
.icon-cba-chat-dots:before {
  content: "\ea0a";
}
.icon-cba-chat-edit:before {
  content: "\ea0b";
}
.icon-cba-chat-happy-face:before {
  content: "\ea0c";
}
.icon-cba-chat-hashtag:before {
  content: "\ea0d";
}
.icon-cba-chat-heart:before {
  content: "\ea0e";
}
.icon-cba-chat-information:before {
  content: "\ea0f";
}
.icon-cba-chat-letter:before {
  content: "\ea10";
}
.icon-cba-chat-like:before {
  content: "\ea11";
}
.icon-cba-chat-music:before {
  content: "\ea12";
}
.icon-cba-chat-question:before {
  content: "\ea13";
}
.icon-cba-chat-quote:before {
  content: "\ea14";
}
.icon-cba-chats:before {
  content: "\ea15";
}
.icon-cba-chats-edit:before {
  content: "\ea16";
}
.icon-cba-chat-z:before {
  content: "\ea17";
}
.icon-cba-envelope:before {
  content: "\ea18";
}
.icon-cba-envelope-add:before {
  content: "\ea19";
}
.icon-cba-envelope-block:before {
  content: "\ea1a";
}
.icon-cba-envelope-check:before {
  content: "\ea1b";
}
.icon-cba-envelope-close:before {
  content: "\ea1c";
}
.icon-cba-envelope-down:before {
  content: "\ea1d";
}
.icon-cba-envelope-edit:before {
  content: "\ea1e";
}
.icon-cba-envelope-less:before {
  content: "\ea1f";
}
.icon-cba-envelope-lock:before {
  content: "\ea20";
}
.icon-cba-envelope-open:before {
  content: "\ea21";
}
.icon-cba-envelope-open-letter:before {
  content: "\ea22";
}
.icon-cba-envelope-open-mail:before {
  content: "\ea23";
}
.icon-cba-envelope-open-search:before {
  content: "\ea24";
}
.icon-cba-envelope-refresh:before {
  content: "\ea25";
}
.icon-cba-envelope-re-send:before {
  content: "\ea26";
}
.icon-cba-envelope-search:before {
  content: "\ea27";
}
.icon-cba-envelope-send:before {
  content: "\ea28";
}
.icon-cba-envelope-star:before {
  content: "\ea29";
}
.icon-cba-envelope-up:before {
  content: "\ea2a";
}
.icon-cba-megaphone-1:before {
  content: "\ea2b";
}
.icon-cba-megaphone-2:before {
  content: "\ea2c";
}
.icon-cba-message:before {
  content: "\ea2d";
}
.icon-cba-message-dots:before {
  content: "\ea2e";
}
.icon-cba-message-happy-face:before {
  content: "\ea2f";
}
.icon-cba-message-hashtag:before {
  content: "\ea30";
}
.icon-cba-message-heart:before {
  content: "\ea31";
}
.icon-cba-message-information:before {
  content: "\ea32";
}
.icon-cba-message-like:before {
  content: "\ea33";
}
.icon-cba-message-music:before {
  content: "\ea34";
}
.icon-cba-message-question:before {
  content: "\ea35";
}
.icon-cba-message-quote:before {
  content: "\ea36";
}
.icon-cba-messages:before {
  content: "\ea37";
}
.icon-cba-messages-text:before {
  content: "\ea38";
}
.icon-cba-message-text:before {
  content: "\ea39";
}
.icon-cba-message-z:before {
  content: "\ea3a";
}
.icon-cba-phone-1:before {
  content: "\ea3b";
}
.icon-cba-phone-2:before {
  content: "\ea3c";
}
.icon-cba-phone-call:before {
  content: "\ea3d";
}
.icon-cba-phone-call-bar:before {
  content: "\ea3e";
}
.icon-cba-phone-call-in:before {
  content: "\ea3f";
}
.icon-cba-phone-call-mute:before {
  content: "\ea40";
}
.icon-cba-phone-call-out:before {
  content: "\ea41";
}
.icon-cba-phone-cancel:before {
  content: "\ea42";
}
.icon-cba-voicemail:before {
  content: "\ea43";
}
