.margen{background-color: rgb(226, 226, 226);
    width: 800px;
    border-style: ridge;
    margin-top: 10px;
    margin-bottom: 100px;
    margin-left: 350px;
    padding: 20px;
    
    }
    .button-tamaño {
        width: 600px;
        
    }    