
<div class="container mt-3">
  <h2>CRIPTOMONEDA</h2>
  <h3>¿QUE ES ?</h3>
  <p>Una criptomoneda es un medio digital de intercambio que utiliza criptografía fuerte para asegurar las transacciones, controlar la creación de unidades adicionales y verificar la transferencia de activos usando tecnologías de registro distribuido.</p>
  <p>Existe controversia respecto a que las criptomonedas tienen que ser de control descentralizado o monedas centralizadas por los bancos centrales u otra entidad, dejando a estas entidades y/o bancos centrales sin función ninguna. Podría darse el caso en que se adoptara masivamente y convertirse en moneda fiduciaria para todo el planeta. Las criptomonedas generalmente usan control descentralizado en lugar de una moneda digital de un banco central</p>

  <img class="img" src="./assets/Img/criptomonedasDefinicion.jpg" alt="Cinque Terre"style="width:400px;height:250px">
  <h3>¿COMO FUNCIONA?</h3>
  <p>Las criptomonedas forman parte de un sistema muy grande, pero no tienen una minoría central que diga, «a partir de ahora, todas las monedas son equivalentes a un gatito». Este sistema se llama blockchain. Las decisiones sobre las criptomonedas son tomadas por múltiples usuarios con igualdad de votos. Nadie puede forzar la blockchain y obligarla a revelar los datos, contraseñas y nombres. Esto hace que las criptomonedas sean descentralizadas. </p>
  <p>En el mundo de las criptomonedas, el proceso de impresión de nuevas criptomonedas se denomina la «Minería» y está presentada en muchas formas, desde la «excavación» en tarjetas de vídeo, hasta el uso de un sistema de delegación de activos en el que la criptomoneda se pasa a nodos para su ahorro. </p>
</div>
