.margen{
  background-color: black;
  background-image: linear-gradient(rgb(179, 176, 176), rgb(219, 219, 219));
  width: 800px;
 margin: auto;
 margin-top: 30px;
  padding: 60px;
  }

p{font-family:cursive ;
  font-size: 12px;

}

