<section>
  <div class="titulos"><h1>QUIENES SOMOS</h1></div>
  <div class="margen">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="centrar">
            <img
              class="rounded-circle img-fluid"
              src="assets/Img/maryan.jpg"
              alt="Mariana Cos"
              style="width: 300px; height: 300px"
            />
            <p></p>
            <h4>Mariana Jesus Cos</h4>
            <p class="text-muted">Estudiante Full Stack</p>
            <a
              class="btn btn-dark btn-social mx-2"
              href="https://www.facebook.com/cosmarian"
              ><i class="fab fa-facebook-f"></i
            ></a>
            <a
              class="btn btn-dark btn-social mx-2"
              href="https://www.instagram.com/maryan.jes"
              ><i class="fab fa-instagram"></i
            ></a>
            <a class="btn btn-dark" routerLink="/quienes-somos/3">Ver Perfil</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="centrar">
            <img
              class="rounded-circle img-fluid"
              src="assets/Img/Mario.jpeg"
              alt="MARIO"
              style="width: 300px; height: 300px"
            />
            <p></p>
            <h4>Mario Alejandro Robledo Lesieux</h4>

            <p class="text-muted">Estudiante Full Stack</p>
            <a class="btn btn-dark btn-social mx-2" href=""
              ><i class="fab fa-facebook-f"></i
            ></a>
            <a class="btn btn-dark btn-social mx-2" href="#!"
              ><i class="fab fa-linkedin-in"></i
            ></a>
            <a class="btn btn-dark" routerLink="/quienes-somos/3">Ver Perfil</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="centrar">
            <img
              class="rounded-circle img-fluid"
              src="assets/Img/MelisaVilarjpg.jpg"
              alt="Melisa Vilar"
              style="width: 300px; height: 300px"
            />
            <p></p>
            <h4>Melisa Romina Vilar</h4>

            <p class="text-muted">Estudiante Full Stack</p>
            <a
              class="btn btn-dark btn-social mx-2"
              href="https://www.facebook.com/vilarmelisa"
              ><i class="fab fa-facebook-f"></i
            ></a>
            <a
              class="btn btn-dark btn-social mx-2"
              href="https://www.instagram.com/melisavilar"
              ><i class="fab fa-instagram"></i
            ></a>
            <a class="btn btn-dark" routerLink="/quienes-somos/3">Ver Perfil</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
