<header class="fondo">
  <h1 class="mensaje-bienvenida">¡BIENVENIDOS a nuestra App!</h1>
  <h3>Es un placer ser parte de tu día a día</h3>
  </header>
  <section>
    <div class="container">
      <div class="text-center">
      <h2 class="text-uppercase">Servicios</h2>
      </div>
      <div class="row ">
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
      </div>
      </div>
      </div>
      <div class="container ms-auto">
        <div class="row">
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
        <i class="fas fa-circle fa-stack-2x text-primary"></i>
        <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="my-3">Transacciones </h4>
        <p>Consulta tus Operaciones de compra y venta online.</p>
        </div>
        <div class="col-md-4">
        <span class="fa-stack fa-4x">
        <i class="fas fa-circle fa-stack-2x text-primary"></i>
        <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="my-3">Cotizaciones</h4>
        <p>Cotizacion diaria de las distintas Cryptomonedas</p>
        </div>
        <div class="col-md-4">
        <span class="fa-stack fa-4x">
        <i class="fas fa-circle fa-stack-2x text-primary"></i>
        <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>

        </span>
        <h4 class="my-3">Criptomoneda</h4>
        <p>Definicion,Caracteristicas,Ventajas y Desventajas</p>
          </div>
        </div>
        </div>
  </section>
