h4{text-align:center;
  background-color: black;;
  color: white;
  font-size: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
}

ul{
  background-color: black;
  border:inset;
}

a{text-align: center;
  size: 50px;

}

.margen{
  margin-top: 20px;
  margin-bottom: 100px;
  margin-left: 10px;
  }

  p{
    font-size: 20px;
    text-align: center;
    color: black;
      font-weight: bold;
    }


