<section>
    <div class="container ms-auto">
      <div class="row">
        <div class="col-md-4">
          <div class="icono">
          <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-signal fa-stack-1x fa-inverse"></i>
          </span>
        </div>

        <a class="nav-link" routerLink="">
          <h4 class="my-3">COTIZACIONES </h4></a>

      </div>

      <div class="col-md-4">
        <div class="icono">
      <span class="fa-stack fa-4x">
      <i class="fas fa-circle fa-stack-2x text-primary"></i>
      <i class="fas fa-user fa-stack-1x fa-inverse"></i>
      </span>
    </div>
    <a class="nav-link" routerLink="/iniciarsesion">
      <h4 class="my-3"> INICIAR SESION </h4></a>

      </div>
      <div class="col-md-4">
       <div class="icono">
      <span class="fa-stack fa-4x">
      <i class="fas fa-circle fa-stack-2x text-primary"></i>
      <i class="fas fa-info fa-stack-1x fa-inverse"></i>
      </span>
    </div>

    <a class="nav-link" routerLink="/criptomoneda">
      <h4 class="my-3"> CRIPTOMONEDA</h4></a>


      </div>
      </div>
      </div>
</section>

