<section>

    <div class="titulos">
    <h1>SERVICIOS</h1>
    </div>
    <div class="margen">
    <div class="row ">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
    </div>
    </div>
    <div class="container ms-auto">
      <div class="row">
        <div class="col-md-4">
          <div class="icono">
          <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-calendar fa-stack-1x fa-inverse"></i>
          </span>
        </div>
      <h4 class="my-3">Movimientos </h4>

      <p>Consulta el historial de operaciones.</p>
      </div>

      <div class="col-md-4">
        <div class="icono">
      <span class="fa-stack fa-4x">
      <i class="fas fa-circle fa-stack-2x text-primary"></i>
      <i class="fas fa-briefcase fa-stack-1x fa-inverse"></i>
      </span>
    </div>
      <h4 class="my-3">Operaciones</h4>

      <p>Depósito, extracciones, compra y venta</p>
      </div>
      <div class="col-md-4">
       <div class="icono">
      <span class="fa-stack fa-4x">
      <i class="fas fa-circle fa-stack-2x text-primary"></i>
      <i class="fas fa-info fa-stack-1x fa-inverse"></i>
      </span>
    </div>
      <h4 class="my-3">Criptomoneda</h4>
      <p>Conocé todo sobre las criptomonedas</p>

      </div>
      </div>
      </div>
</section>

