.margen{
  width: 800px;
  margin-top: 10px;
  margin-bottom: 100px;
  margin-left: 400px;
  padding-left: 400px;
  padding-right: 200px;
  }

  .icono{display: block;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 50px;
  width: 50%;
}
 h4 {
  color: rgb(15, 114, 251);
  }
