<section>
    <div class="container ms-auto">
      <div class="row">
        <div class="col-md-4">
          <div class="icono">
          <span class="fa-stack fa-4x">
          <i class="fas fa-circle fa-stack-2x text-primary"></i>
          <i class="fas fa-calendar fa-stack-1x fa-inverse"></i>
          </span>
        </div>

        <a class="nav-link" routerLink="/transacciones">
          <h4 class="my-3">MOVIMIENTOS </h4></a>

      <p>Consulta el historial de operaciones.</p>
      </div>

      <div class="col-md-4">
        <div class="icono">
      <span class="fa-stack fa-4x">
      <i class="fas fa-circle fa-stack-2x text-primary"></i>
      <i class="fas fa-briefcase fa-stack-1x fa-inverse"></i>
      </span>
    </div>
    <a class="nav-link" routerLink="/operaciones">
      <h4 class="my-3"> OPERACIONES </h4></a>

      <p>Depósito, extracciones, compra y venta</p>
      </div>
      <div class="col-md-4">
       <div class="icono">
      <span class="fa-stack fa-4x">
      <i class="fas fa-circle fa-stack-2x text-primary"></i>
      <i class="fas fa-info fa-stack-1x fa-inverse"></i>
      </span>
    </div>

    <a class="nav-link" routerLink="/criptomoneda">
      <h4 class="my-3"> CRIPTOMONEDA</h4></a>
      <p>Conocé todo sobre las criptomonedas</p>


      </div>
      </div>
      </div>
</section>

